* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    margin: 10px 0px 144px 74px;
}

a{
    margin-right: 20px;
    color: gray;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.botão-header{
    border-radius: 25px;
    width: 78px;
    height: 56px;
    font-weight: bold;
    font-size: 15px;
    color: green;
    cursor: pointer;
}

img{
    width: 560px;
    height: 430px;
    margin-left: 100px;
}

main{
    display: inline-block;
}

div{
    display: inline-block;
}

h1{
    margin-left: 24px;
    color: rgb(100, 50, 20);
}

h2{
    margin-left: 24px;
    color: gray;
}

p{
    margin-left: 24px;
    width: 10cm;
}

.botão-div{
    border-radius: 25px;
    width: 78px;
    height: 56px;
    font-weight: bold;
    font-size: 15px;
    color: green;
    cursor: pointer;
    margin-left: 24px;
}